a {
    color: inherit;
    text-decoration: inherit
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: inherit;
}
.link {
    text-decoration: none;
}