:root {
    --color: #243746;
    --color-primary: #000;
    --color-secondary: #0e2233;
    --bg: #f3f5f4;
    --bg-secondary: #fff;
    --border-color: #ddd;
    --waline-active-color: #fff;
    --waline-theme-color: rgba(161,98,7,1) !important;
    --waline-active-color: rgba(161,98,7,1) !important;
    --waline-bgcolor: var(--bg) !important;
    --waline-disable-bgcolor: var(--bg) !important;
    --waline-bgcolor: var(--bg) !important;
    --waline-bgcolor-light: var(--bg) !important;
    --waline-bgcolor-hover: var(--bg) !important;
    --waline-border-color: var(--border-color) !important;
    --waline-info-bgcolor: transparent !important;
  }
  
  .dark {
    --color: #ebf4f1;
    --color-primary: #ddd;
    --color-secondary: #fdf9f3;
    --bg: #091a28;
    --bg-secondary: #071521;
    --border-color: #0d2538;
    --waline-bgcolor: var(--bg);
    --waline-active-color: #ddd;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg);
    color: var(--color);
    transition: background-color .3s;
    margin: inherit;
    font-size: 16px;
    line-height: 1.5;
  }
  a {
    text-decoration: inherit;
    color: inherit
  }


*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
