@import "globals.variable.css";
@import "markdown.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .animate-underline {
    @apply transition-all duration-300 underline underline-offset-4 hover:underline-offset-8 decoration-secondary-foreground/10 hover:decoration-accent-foreground/100;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border
  }

}


  .glow-overlay {
    --glow-width: 6rem;
    --glow-height: 6rem;
    position: absolute;
    inset: 0;
    pointer-events: none;
    user-select: none;
    opacity: var(--glow-opacity, 0);
    mask: radial-gradient(
      var(--glow-width) var(--glow-height) at var(--glow-x) var(--glow-y),
      var(--glow-color) 1%,
      /*transparent*/
      transparent 100%
    );
    transition: 400ms mask ease;
    will-change: mask;
  }

/* shiki */
:root {
  --shiki-dark:#e6edf3;
  --shiki-dark-bg:#0d1117;
}

@media (prefers-color-scheme: dark) {
  .shiki, .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

/* clerk */
.cl-userButtonBox , .cl-avatarBox {
  @apply h-10 w-10;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::-webkit-scrollbar {
  width: 0px;
  position: absolute;
  left: 4px;
  bottom: -4px;
  display: flex;
  border-radius: 20px;
}